.active {
  /* background-color: #1e4ed8; */
  color: #a787eb;
}

.navbar {
  background-color: #333;
  position: relative; 
  display: flex;
  flex-direction: row;
}

.logo {
  width: 140px;
  cursor: pointer;
  margin: 35px 20px 20px 35px;
  padding: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}

nav ul{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li{
  list-style: none;
  font-weight: 400;
}

nav ul li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.4rem;
  margin: 0.4rem;
  border-radius: 0.5rem;
}

nav ul li a:hover{
  color: #87CEEB;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu li {
  padding: 10px 15px;
  font-weight: 400;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #333;
  list-style: none;
  margin: 0;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: calc(100% + 25px); /* Position below the colored area */
  left: -50%;
}

.sub-menu li {
  padding: 0px 12px; /* Add padding to submenu items */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display an ellipsis (...) if text overflows */
}

.sub-menu li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black; /* Change text color to ensure visibility */
  transition: background-color linear 2s;
}

.sub-menu li:hover a {
  color: black; /* Change anchor text color to black on hover */
}

.more:hover .sub-menu {
  display: block;
}

/* Adjust the width of the submenu container */
.sub-menu {
  min-width: 100%; /* Set minimum width to 100% of the parent */
  width: max-content; /* Set width to fit content */
}

.more {
  position: relative;
  color: #fff;
}

.more:hover > span {
  color: #87CEEB;
}

.more > span {
  cursor: pointer;
  position: relative;
}

.more > span + svg {
  position: absolute;
  top: 25%;
  margin-left: 5px;
  transform: translateY(25%);
}

.more:hover > span + svg path {
  fill: #87CEEB; /* Change the color of the arrow icon */
}

.search-container {
  position: relative;
  flex: 1;
  margin: 25px 20px 25px 10px;
  width: 40vw;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
}

.search-icon {
  width: 14px;
  margin-right: 10px;
}

.search-input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 14px;
}

.search-input::placeholder{
  color: rgba(255, 255, 255, 0.8); /* light-white*/
}

.underline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 1px;
  background: #fff;
}

