.featured-container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.header{
  font-size: 40px;
  margin: 5px 0;
}
.subheader{
  font-size: 16px;
  margin: 0;
}

.slideContainer {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 362px;
    height: 272px;
    margin: 0 auto;
  }
  
  .slide {
    width: 362px;
    height: 272px;
    transition: transform 500ms ease 0s, opacity 500ms ease 0s,
      visibility 500ms ease 0s;
    position: absolute;
    top: 0;
    border-radius: 12px;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderContent {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;
    align-items: flex-start;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .card {
    position: relative;
    width: 362px; /* Set the width to a fixed value */
    height: 272px; /* Set the height to a fixed value */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 8px 8px;
  }

  .overlay {
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15pxpx;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
  }

  /* .card.active .overlay {
    opacity: 0.3;
  } */

  .card:hover .overlay {
    opacity: 1;
  }

  .card-body {
    position: relative; /* Ensure z-index works */
    padding: 16px;
    color: white; /* Ensure text is white for contrast */
  }
  
  .sliderContent h2 {
    margin: 16px 0;
  }
  .sliderContent p {
    margin: 0;
    margin-bottom: 16px;
  }
  
  /* normal css  */
  
  body {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    /* background:  #cb2c2c; */
    background:  #fff;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    margin-top: 80px;
  }
  
  .btns {
    padding-top: 40px;
    display: flex;
    align-items: center;
  }
  
  .btns .btn {
    cursor: pointer;
  }
  
  .btns .btn:last-child {
    margin-left: 20px;
  }
  
  /* normal css  */
  
  /* Dots css below slider */
.dots {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #b3b1b1;
  margin: 0 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: skyblue;
  border-radius: 5px;
  width: 25px;
}
